.places__list-element-text-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  row-gap: 26px;
}


@media screen and (max-width: 720px) {
  .places__list-element-text-area {
    row-gap: 25px;
  }
}
