.place__title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__title {
   font-size: calc(15 * 100vw / 128 - 48px);
   line-height: calc(15 * 100vw / 128 - 44px);
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__title {
    font-size: calc(5 * 100vw / 224 + 24.86px);
    line-height: calc(11 * 100vw / 448 + 27.14px);
  }
}


@media screen and (max-width: 595px)  {
  .place__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}

