.gallery {
  max-width: calc(100vw - 96px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit,  minmax(213px, 1fr));
  gap: calc(6px + 100vw / 128);
}

@media screen and (min-width: 1280px)
{
  .gallery
  {
    max-width: 1280px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px)
{
  .gallery
  {
    max-width: calc(100vw - (3 * 100vw / 16 - 96px));
  }
}


@media screen and (min-width: 321px) and (max-width: 767px)
{
  .gallery
  {
    max-width: calc(100vw - (20.57px + 100vw / 28));
  }
}

@media screen and (max-width: 320px)
{
  .gallery
    {
    max-width: 90%;
    gap: 12px;
  }
}
