.places {
  max-width: calc(704px + 7 * 100vw / 32);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places {
   width: calc(96px + 13 * 100vw / 16);
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .places {
    width: calc(34.29px + 25 * 100vw / 28);
  }
}
