.content__cover {
  margin: 0 0 92px 0;
}


@media screen and (min-width: 321px) and (max-width: 768px) {
  .content__cover {
    margin-bottom: calc(47.86px + 3 * 100vw / 56);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .content__cover {
    margin-bottom: calc(76px + 100vw/64);
  }
}

@media screen and (max-width: 320px)  {
  .content__cover {
    margin-bottom: 64px;
  }
}


