.header {
  min-height: 52px;
  width: 92.5%;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: calc(13 * 100vw / 16 + 96px);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    width: calc(27 * 100vw / 28 - 20.57px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 288px;
  }
}
