.place__link-heading {
  margin: 0 0 12px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__link-heading {
   line-height: calc(100vw / 32 - 12px);
  }
}

@media screen and (max-width: 768px) {
  .place__link-heading {
   line-height: 1;
  }
}
