.content__places {
  margin: 0 0 92px 0;
}


@media screen and (min-width: 321px) and (max-width: 768px) {
  .content__places {
    margin-bottom: calc(3 * 100vw / 56 + 48.86px);
  }
}

@media screen and (max-width: 320px)  {
  .content__places {
    margin-bottom: 66px;
  }
}
