.places__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  row-gap: 80px;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places__list {
   row-gap: calc(52px + 7 * 100vw / 256);
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .places__list {
   row-gap: calc(33.57px + 23 * 100vw / 448);
  }
}

@media screen and (min-width: 320px) {
  .places__list {
   row-gap: 50px;
  }
}
