.intro {
  width: 690px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    align-self: center;
    width: calc(810px - 15 * 100vw / 128);
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .intro {
    align-self: center;
    width: calc(27 * 100vw / 28 - 20.57px);
  }
}

@media screen and (max-width: 320px)  {
  .intro {
    align-self: center;
    width: calc(100% - 32px);
  }
}
