.cover__text {
  max-width: 360px;
  height: 66px;
  margin: 0;
  font-family: 'Inter' , 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .cover__text  {
    font-size: calc(12.57px + 100vw / 224);
    line-height: calc(15.14px + 100vw / 112);
    width: calc(236.57px + 9 * 100vw / 56);
  }
}

@media screen and (max-width: 320px)  {
  .cover__text  {
    width: 90%;
    font-size: 14px;
    line-height: 1.14;
  }
}
