.place__text-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  row-gap: 26px;
}


@media screen and (max-width: 720px) {
  .place__text-area {
    row-gap: 25px;
  }
}

@media screen and (max-width: 595px)  {
  .place__text-area {
    margin: 0 16px;
  }
}
