.heading__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  width: 640px;
  height: 72px;
  margin: 0 0 56px 0;
}

@media screen and (max-width: 768px) {
  .heading__subtitle {
    width: calc(11 * 100vw / 14 + 36.57px);
    height: calc(100vw / 14 + 17.14px);
    min-height: 40px;
    min-width: 288px;
    font-size: calc(100vw / 32 + 6px);
    line-height: calc(8.57px + 100vw / 28);
    margin-bottom: calc(28.57px + 100vw / 28);
  }
}
