.cover__title {
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 280px);
  max-width: 560px;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

.cover__title:hover ~ .cover__image{
    opacity: 0.8;
}

