.cover__title {
  width: 560px;
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  margin-bottom: 32px;

}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .cover__title  {
    font-size: calc(3.43px + 5 * 100vw / 56);
    line-height: calc(5.71px + 41 * 100vw / 448);
    margin-bottom: calc(4.57px + 100vw/28);
    width: calc(93.71px + 17 * 100vw / 28);

  }
}

@media screen and (max-width: 320px)  {
  .cover__title  {
    width: 90%;
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 16px;
  }
}
