.content__gallery
{
  margin: 0 0 92px 0;
}

@media screen and (min-width: 1280px)
{
  .content__gallery
  {
    margin: 0 48px 92px 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
  .content__gallery
  {
    margin: 0 0 calc(76px + 100vw / 64) 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px)
{
  .content__gallery
  {
    margin: 0 0 calc(46.57px + 3 * 100vw / 56) 0;
  }
}

@media screen and (max-width: 320px)
{
  .content__gallery
  {
    margin: 0 0 64px 0;
  }
}
