.page__footer {
  margin: 0 48px 24px 48px;
  }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page__footer {
    margin: 0 calc(3 * 100vw / 32 - 48px) 24px calc(3 * 100vw / 32 - 48px);
  }
}

@media screen and (max-width: 320px)  {
  .page__footer {
    margin: 0 0 24px 16px;
  }
}
